.navbar{
    background-color: white;
    padding: 2px 10px;
    width: 100%;
}
.navbarIcons{
    width: 21px;
    height: 21px;
    margin-left: 12px;
    color: white;
    filter: invert();
}

.subnavbar{
    display: flex;
    justify-content: space-between;
    
    }
    .leftnav{
        display:flex;
        align-items: center;
        justify-content: space-evenly;
    
    }